*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --secondary-color: ""
}

@media (max-width: 800px) {
  #Skills, #SpecialSkills, #projectcards, #Blog{
     margin: 1rem;
  }

  #Blog{
    margin-top: 8rem;
  }
  #projectcard{
    flex-wrap: wrap;
    padding: 2rem;
  }

  #projectcards{
    padding: 5rem;
    width: 90%;
  }

  #blogcard {
    flex-direction: column;
  }

  #SpecialSkills{
    flex-direction: column;
  }

  #specialskilltext{
     font-size: 2rem;
     text-align: center;
  }

}
